body{text-align:center;}

.header{position:fixed;left:0;top:0;width:80%;height:60px;line-height:60px;background:#353d44;padding:0 10%;z-index:10000;}
.header h1{color:#fff;font-size:20px;font-weight:600;text-align:center;}
.install-box{margin:100px auto 0;background:#fff;border-radius:10px;padding:20px;overflow:hidden;box-shadow: 5px 5px 15px #888888;display:inline-block;width:680px;min-height:500px;}
.protocol{text-align:left;height:400px;overflow-y:auto;padding:10px;color:#333;}
.protocol h2{text-align:center;font-size:16px;color:#000;}
.step-btns{padding:20px 0 10px 0;}
.copyright{padding:25px 0;}
.copyright,.copyright a{color:#ccc;}


.fl{float:left;}
.fr{float:right;}
.nobg{background-color:transparent!important}
.font12{font-size:12px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.mag0{ margin:0 !important; }
.m5{margin: 5px auto; }
.m10{margin: 10px auto; }
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.m10{margin: 10px;}
.m20{margin: 20px;}
.pl20{padding-left:20px;}
.pl50{padding-left:50px;}
.pb10{padding-bottom:10px;}
.pb50{padding-bottom:50px;}
.p10{padding:10px;}
.p20{padding:20px;}
.w50{width:50px!important;}
.w60{width:60px!important;}
.w70{width:70px!important;}
.w80{width:80px!important;}
.w100{width:100px!important;}
.w110{width:110px!important;}
.w120{width:120px!important;}
.w150{width:150px!important;}
.w200{width:200px!important;}
.w300{width:300px!important;}
.w350{width:350px!important;}
.w400{width:400px!important;}
.w500{width:500px!important;}
.w600{width:600px!important;}
.w700{width:700px!important;}
.w800{width:800px!important;}
.w900{width:900px!important;}

.layui-table td, .layui-table th{text-align:left;}
.layui-table tbody tr.no{background-color:#f00;color:#fff;}


