html, body{
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.layui-side-menu .layui-nav {
    background-color:#353d44;
    border:none;
    width: 180px;
}

.ndm-logo {
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	background-color: #3c444d;
}

.ndm-logo  .logo_image {
	float: left;
	width: 30px;
	margin-left: 30px;
	margin-top: -3px;
}

.ndm-logo  .logo_text {
	vertical-align: text-top;
	float: left;
}

.layui-side-menu .layui-nav .layui-nav-item a {
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    padding-right: 30px;
}

.layui-side-menu .layui-nav .layui-nav-item .layui-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -19px;
}

.layui-nav-tree .layui-nav-item>a .layui-nav-more {
    padding: 0px 0;
}

.layui-nav-child dd{
	padding-left: 20px;
}

.layui-nav-tree li a {
    font-size: 15px;
    color: #d6d7d9;
    display: block;
    line-height: 44px;
    padding-left: 52px;
    background-size: 16px auto;
    background-position: 25px 14px;
}

.layui-nav-tree li.current a,
.layui-nav .layui-this li a:after,
.layui-nav-tree li a:hover {
    background-color: #2c3138;
    color: #fff;
    border-left: #20a53a 1px solid;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a, 
.layui-nav-tree .layui-this, 
.layui-nav-tree .layui-this>a, 
.layui-nav-tree .layui-this>a:hover {
	background-color: #2c3138;
   	color: #fff;
    border-left: #20a53a 1px solid;
}

#ndm {
	position: relative;
	background-color: #f2f2f3;
	min-height: 100%;
}

.main-content {
    margin-left: 180px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bgw {
    background-color: white;
}

.pos-box {
    height: 50px;
    width: 100%;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 5%) !important;
/*    border-radius: 4px;*/
}

.c9 {
    color: #999;
}

.c4 {
    color: #444;
}

.plr10 {
    padding: 0 10px;
}

.mtb15 {
    margin: 15px 0;
}

.mtb5 {
    margin: 5px 0;
}

.f14 {
    font-size: 14px;
}
.pull-left {
    float: left !important;
}

.position {
/*    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAKwwAACsMBNCkkqwAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAFZSURBVDiNpdO9a1VBEAXw3zOioIUQEdFGkQdWVtr6D1ikERtRppLU6awUsUkh2CgoBNwhoPhsLESxERR7wcI2XSBNMAHRNFmLbB6Xa64RXFjYOXvmzMfOjmqt/mcd2I+QmUuZOcgbDWWQmTN4iFms4wGu4jC+RMT7wQwy8xBe4FtE3MBXPMdqE5sfLCEzj+Il3kXEE4iIJTzFFbzB9z0FMvMYJphExLPuXUQs4y1eYfmPHmTmbHN+FBGv92zMDm+ulXAzItZHtVaZeRH3sBgRn4ecOyKXcRt3dkuYwyJOZeaJfZyP42TjX1Nrne5SyqSUMu5ho559tpQy2bUP9gL8wHYnzbtYzczTuB8RHzs8/H0Sz+ETbuEDxg3f7pL6AhW/2vknNiNiCxvY6uDT8e2XMINLmbmC89js3I0z8wLOdP36Aht43KIcwULD1+w82/WGT+dk8DP96/oNlqecb6uu8YEAAAAASUVORK5CYII=);*/
    background-position: 17px 14px;
    background-repeat: no-repeat;
    background-size: 20px auto;
    line-height: 50px;
    padding-left: 10px;
}

.layui-table-header table tr{
    background-color: #f6f6f6;
}

.ndm-home {
    font-size: 25px;
    float: left;
}

.ndm-breadcrumb {
    float: left;
    line-height: 50px;
}


.tab-box {
    height: 45px;
    width: 100%;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 5%) !important;
    border-radius: 4px;
}

.tab {
    height: 45px;
}

.tab .tab-item {
    display: inline-block;
    height: 45px;
    min-width: 100px;
    padding: 0 20px;
    line-height: 45px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.tab .tab-item:hover {
    background: #20a53a08;
    color: #20a53a;
    position: relative;
    border-bottom: 1px solid #20a53a08;
}

.tab .tab-item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tab .tab-item.active:after {
    content: '';
    width: 20px;
    height: 2px;
/*    position: absolute;*/
    left: 50%;
    bottom: 0px;
    background: red;
    margin-left: -10px;
    background: #20a53a;
}

.tab .tab-item.active {
/*    */
    color: #20a53a;
/*    background: #20a53a10;*/
    border-bottom: 2px solid #20a53a;
}


